<div class="col">
  <a href="{% if notes.redirect %}{{ notes.redirect }}{% else %}{{ notes.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      {% if notes.img %}
        {%
          include figure.liquid
          loading="eager"
          path=notes.img
          sizes = "250px"
          alt="notes thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ notes.title }}</h2>
        <p class="card-text">{{ notes.description }}</p>
        <div class="row ml-1 mr-1 p-0">
          {% if notes.github %}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ notes.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
              </div>
              {% if notes.github_stars %}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fa-solid fa-star"></i>
                  <span id="{{ notes.github_stars }}-stars"></span>
                </span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>