<div class="col mb-4">
  <a href="{% if notes.redirect %}{{ notes.redirect }}{% else %}{{ notes.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      <div class="row no-gutters">
        {% if notes.img %}
          <div class="col-md-6">
            {% include figure.liquid loading="eager" path=notes.img sizes="(min-width: 768px) 156px, 50vw" alt="notes thumbnail" class="card-img" %}
          </div>
        {% endif %}
        <div class="{% if notes.img %}col-md-6{% else %}col-md-12{% endif %}">
          <div class="card-body">
            <h3 class="card-title">{{ notes.title }}</h3>
            <p class="card-text">{{ notes.description }}</p>
            <div class="row ml-1 mr-1 p-0">
              {% if notes.github %}
                <div class="github-icon">
                  <div class="icon" data-toggle="tooltip" title="Code Repository">
                    <a href="{{ notes.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
                  </div>
                  {% if notes.github_stars %}
                    <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                      <i class="fa-solid fa-star"></i>
                      <span id="{{ notes.github_stars }}-stars"></span>
                    </span>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>